{% extends 'Topwinz/layout.html' %}

{% block content %}

    {% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    {% endif %}

    <form action="{% url 'Topwinz_app:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>

    <div>
        <p>Don't have an account?</p>
        <a href="{% url 'Topwinz_app:sign_up' %}"><button>Sign Up</button></a>
    </div>
{% endblock %}